.App {
  text-align: center;
}
.header {
  width: 100%;
  background-color: #1c1c1b;
}
.title {
  font-size: 25px;
  padding: 10px;
  color: white;
  text-align: center;
  text-transform: uppercase;
}
.img-main {
  align-items: center;
  position: relative;
  width: 100%;
}
.img-main img {
  padding: 10px 100px;
  width: 80%;
}
